// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2019 Oceanic Systems (UK) Ltd.
 * Copyright (C) 2019 Amarula Solutions B.V.
 * Author: Jagan Teki <jagan@amarulasolutions.com>
 */

/dts-v1/;

#include "sun50i-a64-sopine.dtsi"
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Oceanic 5205 5inMFD";
	compatible = "oceanic,5205-5inmfd", "allwinner,sun50i-a64";

	aliases {
		ethernet0 = &emac;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&r_pwm 0 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <1 2 4 8 16 32 64 128 512>;
		default-brightness-level = <8>;
		enable-gpios = <&pio 7 10 GPIO_ACTIVE_HIGH>; /* LCD-BL-EN: PH10 */
	};

	can_osc: can-osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <8000000>;
	};

	reg_can_v5v: reg-can-v5v {
		compatible = "regulator-fixed";
		regulator-name = "reg-can-v5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		enable-active-high;
		gpio = <&r_pio 0 2 GPIO_ACTIVE_HIGH>; /* CAN_3V3_EN: PL2 */
		status = "okay";
	};
};

&de {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	vcc-dsi-supply = <&reg_dldo1>;		/* VCC3V3-DSI */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "microtech,mtf050fhdi-03", "novatek,nt35596";
		reg = <0>;
		dvdd-supply = <&reg_dldo2>;			/* VCC-MIPI */
		avdd-supply = <&reg_dc1sw>;			/* AVDD_5V0 */
		avee-supply = <&reg_dc1sw>;			/* AVEE_5V */
		reset-gpios = <&pio 3 24 GPIO_ACTIVE_HIGH>;	/* LCD-RST: PD24 */
		backlight = <&backlight>;
	};
};

&ehci0 {
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rgmii_phy>;
	phy-supply = <&reg_dc1sw>;
	allwinner,tx-delay-ps = <600>;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";

	touchscreen@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		AVDD28-supply = <&reg_ldo_io0>;			/* VDD_CTP: GPIO0-LDO */
		interrupt-parent = <&pio>;
		interrupts = <7 4 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&pio 7 4 GPIO_ACTIVE_HIGH>;	/* CTP-INT: PH4 */
		reset-gpios = <&pio 7 11 GPIO_ACTIVE_HIGH>;	/* CTP-RST: PH11 */
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};
};

&i2c0_pins {
	bias-pull-up;
};

&mdio {
	ext_rgmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&ohci0 {
	status = "okay";
};

&r_pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&r_pwm_pin>;
	status = "okay";
};

&reg_dc1sw {
	regulator-name = "vcc-phy";
};

&reg_dldo1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-dsi";
};

&reg_dldo2 {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vcc-mipi";
};

&reg_ldo_io0 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vdd-ctp";
	status = "okay";
};

&pio {
	can_pins: can-pins {
		pins = "PD6",			/* RX_BUF1_CAN0 */
		       "PD7";			/* RX_BUF0_CAN0 */
		function = "gpio_out";
	};
};

&spi1 {
	status = "okay";

	can@0 {
		compatible = "microchip,mcp2515";
		reg = <0>;
		spi-max-frequency = <10000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&can_pins>;
		interrupt-parent = <&pio>;
		interrupts = <1 2 IRQ_TYPE_EDGE_FALLING>;	/* INT_CAN0: PB2 */
		clocks = <&can_osc>;
		vdd-supply = <&reg_can_v5v>;
		xceiver-supply = <&reg_can_v5v>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
	status = "okay";
};

&usbphy {
	status = "okay";
};
